{%extends 'base.html'%}

{{%block content%}



<div class="container mt-3">
    <h1>Profile Page</h1>

    <div class="card" style="width:100px">

        </div>     {%if user_obj.profile_pic%}
       <img src="{{ user_obj.profile_pic.url }}" class="card-img-top"
                 alt="{{ user_obj.user.first_name }}" style="width:20%">
        {%else%}
            <p>NO image available</p>
        {%endif%}
        <div class="card-body">
            <br>
            <h4 class="card-title">{{user_obj.user.username}}</h4>
            <p class="card-text">mail: {{ user_obj.user.email }}</p>
            <p class="card-text">First name: {{ user_obj.user.first_name }}</p>
            <p class="card-text">Last name: {{ user_obj.user.last_name }}</p>
             <p class="card-text">Position: {{user_obj.position.position }}</p>
             <p class="card-text">Position: {{user_obj.department.department }}</p>
            <p class="card-text">Date of Hire: {{user_obj.date_hire }}</p>

    </div>
    <br>
</div>
{%endblock%}