.checkout-details p {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.card {
  border-radius: 12px;
  background-color: #fff;
}

h2 {
  font-weight: 600;
}

.btn-success {
  border-radius: 8px;
  transition: 0.3s;
}

.btn-success:hover {
  background-color: #28a745;
  transform: scale(1.05);
}
