{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Appliance Inventory System</title>

   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <meta charset="UTF-8">
    <title>Side bar Navigation</title>
    <link rel="stylesheet" href="https://cdn.lineicons.com/5.0/lineicons.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.8/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css" integrity="sha512-t7Few9xlddEmgd3oKZQahkNI4dS6l80+eGEzFQiqtyVYdvcSG2D3Iub77R20BdotfRPA9caaRkg1tyaJiPmO0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/home3.css'%}">


</head>

<body>

<div class="sidebar">
    <nav class="nav flex-column">
        <a class="nav-link" href="{% url 'home'%}">
            <span class="icon">
                <i class="bi bi-grid"></i>
            </span>
            <span class="description">Dashboard</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-clipboard-check"></i>
            </span>
            <span class="description">Post</span>
        </a>
        <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-bell"></i>
            </span>
            <span class="description">Notification</span>
        </a>

        {% if user.is_authenticated%}

        <!--- menu drop down -->
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Add Menu
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>
        <!-- submenu -->
        <div class="sub-menu collapse" id="submenu">
            <a class="nav-link" href="{% url 'customer'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Add Customer</span>
            </a>
            <a class="nav-link" href="{% url 'category'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Add Category</span>
            </a>
            <a class="nav-link" href="{% url 'supplier'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Add Supplier</span>
            </a>
             <a class="nav-link" href="{% url 'product'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Add Product</span>
            </a>
              <a class="nav-link" href="{% url 'create_product_name'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Add Product Name</span>
            </a>
            <a class="nav-link" href="{% url 'create_profile'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description">Add Profile</span>
            </a>

        </div>

         <!--- menu drop down 2 -->
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Orders and Checkouts
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>
            <!-- sub menu 1 -->
         <div class="sub-menu collapse" id="submenu1">

            <a class="nav-link" href="{% url 'order-create'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Create Order</span>
            </a>
             <a class="nav-link" href="{% url 'order_display'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Display Order</span>
            </a>
             <a class="nav-link" href="{% url 'checkout_display'%}">
                 <span>
                     <i class="bi bi-file-earmark-check"></i>
                 </span>
                 <span class="description">Checkout Orders</span>
             </a>

         </div>


        <!--- menu drop down 3 -->
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu2" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Check Inventory
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>

         <!-- sub menu 3 -->
         <div class="sub-menu collapse" id="submenu2">

            <a class="nav-link" href="{% url 'stocks'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Inventory</span>
            </a>
             <a class="nav-link" href="{% url 'incoming'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Incoming Log</span>
            </a>
             <a class="nav-link" href="{% url 'search_stock'%}">
                 <span>
                     <i class="bi bi-file-earmark-check"></i>
                 </span>
                 <span class="description">Stocks per Product</span>
             </a>

         </div>

        <!--- menu drop down 4 -->
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu3" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Customer and Suppliers
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>

         <!-- sub menu 4 -->
         <div class="sub-menu collapse" id="submenu3">

            <a class="nav-link" href="{% url 'customer_list'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >List of Customers</span>
            </a>
             <a class="nav-link" href="{% url 'supplier_list'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >List of Suppliers</span>
            </a>

         </div>

           <!--- menu drop down 5 -->
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu4" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Mail
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>

         <!-- sub menu 5 -->
         <div class="sub-menu collapse" id="submenu4">

            <a class="nav-link" href="{% url 'send_email'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Mail</span>
            </a>

         </div>

           <!--- menu drop down 5 -->
          <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu5" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">User Profile
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>

         <!-- sub menu 6 -->
         <div class="sub-menu collapse" id="submenu5">

            <a class="nav-link" href="{% url 'user_profile'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Profile</span>
            </a>

         </div>

               <!--- menu drop down 6 -->
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu6" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Charts
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>

         <!-- sub menu 7 -->
         <div class="sub-menu collapse" id="submenu6">

            <a class="nav-link" href="{% url 'sales_chart'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Sales Charts</span>
            </a>

               <a class="nav-link" href="{% url 'pie_chart'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Chart Inventory</span>
            </a>

         </div>


         <a class="nav-link" href="#">
            <span class="icon">
                <i class="bi bi-gear"></i>
            </span>
            <span class="description">
                 </li>
            <li class="nav-item">
              {% include "logout.html" %}
          </li>
            </span>
        </a>

     {%else%}
        <!--- menu drop down 7 -->
        <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu7" aria-expanded="false"
        aria-controls="submenu">
            <span class="icon">
                <i class="bi bi-box-seam"></i>
            </span>
            <span class="description">Register And Log in
                <i class="bi bi-caret-down-fill"></i>
            </span>
        </a>


           <!-- sub menu 8 Register or log in -->
        <div class="sub-menu collapse" id="submenu7">

            <!--LOG IN -->
            <a class="nav-link" href="{% url 'login'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >LOG IN</span>
            </a>

            <!--register -->
            <a class="nav-link" href="{% url 'register'%}">
                <span class="icon">
                    <i class="bi bi-file-earmark-check"></i>
                </span>
                <span class="description" >Register</span>
            </a>
        </div>




        {%endif%}

    </nav>
</div>

<main class="main-content">

</main>




{%block content%}

{%endblock%}

{% block scripts %}

{% endblock %}

<!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous">

</script>
-->
 <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>

</body>
</html>