{%extends 'base.html'%}
{%block content%}

<div class="jumbotron text-center">
    <h1> Amigo Homes Appliance Inventory </h1>
    <p> We have the newest Home Appliance and Tech in the Market</p>
    <form method="POST">
        <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="Message us now!" required>
            <div class="input-group-btn">
                <button type="button" class="btn btn-danger"> Subscribe</button>
            </div>
        </div>
    </form>
</div>


<!-- Container (About Section) -->

<div class="container-fluid" id="About">
    <div class="row">
        <div  class="col-sm-8">
            <h2> About Company Page</h2> <br>
            <h4>We are company that specialize in Home Entertainment and high-end computer and cellphones</h4>
            <p> We have the latest Home based tech  for personal and office use</p>
            <br>
            <button class="btn btn-default btn-lg">Message us now for quotation!</button>
        </div>
    </div>

</div>

{%endblock%}
