{%extends 'base.html'%}

{%block content%}
<div class="container">
  <div class="form-group">

      <table class="table table-stripped">
          <thead>
          <tr>

              <th>Product name</th>
              <th>Supplier Name</th>
              <th>Quantity</th>
              <th>Transaction Date</th>
              <th>Price per piece</th>
          </tr>
          </thead>
          <tbody>
                {%for income in incoming%}
            <tr>
                <td>{{income.product.product_name}}</td>
                <td>{{income.supplier.supplier_name}}</td>
                <td>{{income.incoming_count}}</td>
                <td>{{income.incoming_date}}</td>
                <td>{{income.product.price}}</td>
            </tr>
           {%endfor%}
          </tbody>
      </table>
  </div>
</div>
{%endblock%}