{%extends 'base.html'%}

{%block content%}

<h1>THE TOTAL Stocks in Inventory: {{total_quantity}}</h1>


<h1> Stocks Movement</h1>
        {%if user.is_authenticated%}
        <div class="container">
            <div class="form-group">
                        <TABLE class="table table-stripped">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Total Count of The Product</th>
                                  <th>Supplier</th>
                                 <th>Date of Arrival</th>
                                <th>Product Image</th>
                                <th>Product Price per pc  </th>
                                <th> SUM per Transaction</th>
                                <th>Total amount of All stocks</th>

                            </tr>
                            </thead>
                            <tbody>
                           {% for stock in page_obj%}
                                <tr>
                                    <td>{{stock.product.product_name}}</td>
                                    <td>{{stock.product.quantity}} ACTUAL count of Product</td>
                                    <td>{{stock.supplier}}</td>
                                    <td>{{stock.product.transaction_date}}</td>
                                      <td> {% if stock.product.product_image %}
                                     <img src="{{ stock.product.product_image.url }}" width="20%" height="40%" class="img-fluid rounded-start" alt="...">
                                   {% else %}
                                      <p>No image available for {{ stock.product.product_name }}</p>
                                     {% endif %}</td>

                                    <td>{{stock.product.price}}</td>
                                    <td>{{stock.product.sum_per_transaction}}</td>

                                    <td>{{stock.total_price}}</td>
                                </tr>
                           {%endfor%}
                            </tbody>
                        </TABLE>
            </div>

            <div class="pagination">
                {%if page_obj.has_previous%}
                <a href="?page1">First Page</a>
                <a href="?page={{page_obj.previous_page_number}}">Previous</a>
                {%endif%}
                <span>Page {{page_obj.number}} of {{page_obj.paginator.number_pages}}</span>
                {%if page_obj.has_next%}
                <a href="?page={{page_obj.next_page_number}}">Next</a>
                <a href="?page={{page_obj.paginator.number_pages}}">Last</a>
                {%endif%}
            </div>
        </div>



        {%else%}
             <h1>You MUST log in</h1>
        {%endif%}


{%endblock%}