{%extends 'base.html'%}
{%block content%}
<div class="container">

    <table CLASS="table table-stripped">
        <thead>
            <tr>
                <th>Supplier ID</th>
                  <th>Supplier Name</th>
                  <th>Supplier Number</th>
                  <th>Supplier Email</th>
                  <th>Supplier Address</th>
                    <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {%for supplier in suppliers%}
            <tr>
                <td> {{supplier.supplier_id}}</td>
                  <td>{{supplier.supplier_name}}</td>
                  <td>{{supplier.number}}</td>
                <td>{{supplier.email}}</td>
                  <td>{{supplier.address}}</td>
                    <td> <a class="btn btn-primary" href="{%  url 'update_supplier' supplier.pk %}">Update Supplier</a></td>
                    <td> <a class="btn btn-danger" href="{%  url 'delete_supplier' supplier.pk %}">Delete Supplier</a></td>

            </tr>
          {%endfor%}
        </tbody>

    </table>
</div>

{%endblock%}